<div class="">
  <h2 class="mb-4">Post Options</h2>
  <h4>Canonical URL</h4>
  <p>
    Change meta tag <button class="btn btn-outline-light text-black">carnonocal_url</button>
    if this post was first published elsewhere (like your own blog)
  </p>
  <div class="card flex justify-content-center mb-4">
    <input
      type="text"
      pInputText
      [(ngModel)]="value"
      placeholder="https://yoursite.com/post-title"
      variant="filled" />
  </div>

  <div class="d-flex flex-column gap-2">
    <h4>Schedule Publication</h4>
    <!--  date picker-->
    <input type="date" class="form-control" [min]="minDate">
    <!--  time picker-->
    <input type="time" class="form-control">
  </div>

  <h4 class="mt-4">Series</h4>
  <span>
    Will this post be part of a series? Give the series a unique name. (Series visible once it has multiple posts)
  </span>
  <div class="d-flex flex-column gap-2 mt-2">
    <input
      type="text"
      pInputText
      [(ngModel)]="value"
      placeholder="..."
      variant="filled" />
    <button class="btn btn-outline-primary">Done</button>
  </div>
</div>
