.tree-label {
  display: flex;
  flex-direction: column;
}
.tree-header {
  font-weight: normal;
}
.tree-header-bold {
  font-weight: bold;
}
.tree-italic {
  font-style: italic;
}
.tree-content {
  color: #666;
}
