<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/icons/dev/logo.png" height="40"  alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex position-relative">
          <span class="position-absolute top-50 translate-middle-y ps-3">
            <i class="bi bi-search"></i>
          </span>
          <input class="form-control ps-5" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="text-end d-inline-flex align-items-center">
        <button class="btn btn-outline-primary me-3" type="submit">Create Post</button>
        <a href="#" class="position-relative me-3">
          <i class="bi bi-bell fs-2"></i>
          <span class="position-absolute mt-2 start-100 translate-middle badge bg-danger">
          8 <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a href="#"><img src="/icons/dev/profile.jpeg" class="rounded-5" height="40" alt="profile pic"></a>
      </div>

    </div>
  </nav>
