<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand pointer" (click)="goHome()"><img src="/icons/dev/logo.png" height="40"  alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex position-relative w-75">
          <span class="position-absolute top-50 start-0 translate-middle-y ps-3">
            <i class="bi bi-search"></i>
          </span>
          <input class="form-control ps-5" type="search" placeholder="Search..." aria-label="Search">
          <span class="position-absolute top-50 end-0 translate-middle-y pe-3">
            <a href="https://www.algolia.com/developers/?utm_source=devto&utm_medium=referral" class="text-decoration-none text-secondary" target="_blank">powered by <span><i class="bi bi-voicemail"></i></span> Algolia</a>
          </span>
        </form>
      </div>
      <div class="text-end d-inline-flex align-items-center">
        <button class="btn btn-outline-primary me-3" (click)="createNew()">Create Post</button>
        <a >
          <div class="flex justify-content-center me-4 pointer" pTooltip="Notifications" tooltipPosition="left">
            <i class="bi bi-bell fs-3" pBadge value="2" severity="danger"></i>
          </div>
        </a>
        <a class="pointer" (click)="toggleProfileDropdown()">
          <img src="/icons/dev/profile.jpeg" class="rounded-5" height="40" alt="profile pic" pTooltip="Account" tooltipPosition="left">
        </a>
        <div class="profile-wrapper">
          <bb-profile-dropdown *ngIf="profileDropdownVisible"/>
        </div>
      </div>

    </div>
  </nav>
