<div class="m-lg-2">
  <div class="row">
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-house me-2"></i>Home</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-plus-square me-2"></i>DEV++</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-ui-radios me-2"></i>Reading List</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-mic-fill me-2"></i>Podcasts</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-camera-video me-2"></i>Videos</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-tag me-2"></i>Tags</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-lightbulb me-2"></i>DEV Help</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-cart me-2"></i>Forem Shop</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-heart-fill me-2"></i>Advertise on DEV</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-trophy me-2"></i>DEV Challenges</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-stars me-2"></i>Dev Showcase</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-file-person me-2"></i>About</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-person-lines-fill me-2"></i>Contact</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-book me-2"></i>Guides</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-emoji-smile me-2"></i>Software Comparisons</button>
    <div class="mt-4">
      <p><b>Other</b></p>
    </div>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hand-thumbs-up me-2"></i>Code Of Conduct</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-emoji-sunglasses me-2"></i>Privacy Policy</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-eye me-2"></i>Terms of Use</button>
    <div class="d-flex mt-2 mb-2">
      <button class="btn btn-outline-primary me-1"><i class="bi bi-twitter-x"></i></button>
      <button class="btn btn-outline-primary me-1"><i class="bi bi-facebook"></i></button>
      <button class="btn btn-outline-primary me-1"><i class="bi bi-github"></i></button>
      <button class="btn btn-outline-primary me-1"><i class="bi bi-instagram"></i></button>
      <button class="btn btn-outline-primary me-1"><i class="bi bi-twitch"></i></button>
      <button class="btn btn-outline-primary me-1"><i class="bi bi-browser-firefox"></i></button>
    </div>
    <div class="d-flex mt-4 justify-content-between">
      <p><b>My Tags</b></p>
      <i class="bi bi-gear"></i>
    </div>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>ai</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>java</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>database</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>laravel</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>git</button>
    <button class="btn btn-outline-secondary border-0 text-start m-1" type="submit"><i class="bi bi-hash"></i>sql</button>

    <div class="mt-4">
      <p>
        <span><a href="#">DEV Community</a></span> A constructive and inclusive social network for software developers. With you every step of your journey.
      </p>
      <p>
        Built on Forem — the <span><a href="#">open source</a></span> software that powers <span><a href="#">DEV</a></span> and other inclusive communities.
      </p>
      <p>
        Made with love and <span><a href="#">Ruby on Rails</a></span>. DEV Community © 2016 - 2024.
      </p>
    </div>
  </div>
</div>
