<div class="mt-4">
  <div class="card">
    <div class="card-body pointer">
      <h3 class="card-title">Active discussions</h3>
      <hr class="w-100">
      <a href="#" class="text-decoration-none text-black link-primary">
        Mastering the final Keyword in Java: Constants, Immutability, and More
      </a>
      <p class="mt-2">
        5 comments
      </p>
      <hr class="w-100">
      <a href="#" class="text-decoration-none text-black link-primary">
        Mastering the final Keyword in Java: Constants, Immutability, and More
      </a>
      <p class="mt-2">
        5 comments
      </p>
      <hr class="w-100">
      <a href="#" class="text-decoration-none text-black link-primary">
        Mastering the final Keyword in Java: Constants, Immutability, and More
      </a>
      <p class="mt-2">
        5 comments
      </p>
      <hr class="w-100">
      <a href="#" class="text-decoration-none text-black link-primary">
        Mastering the final Keyword in Java: Constants, Immutability, and More
      </a>
      <p class="mt-2">
        5 comments
      </p>
    </div>
  </div>
</div>
