<div class="mt-3">
  <div class="d-flex">
    <button class="btn btn-light active me-2">Relevant</button>
    <button class="btn btn-light me-2">Latest</button>
    <button class="btn btn-light me-2">Top</button>
  </div>

  <div class="card mt-4">
    <img src="/icons/dev/banner2.jpg" class="card-img-top pointer" alt="banner">
    <div class="card-body">
      <div class="d-flex mt-4 gap-3 mb-4">
        <a class="pointer"><img src="/icons/dev/profile.jpeg" class="rounded-5" height="40" alt="profile pic"></a>
        <div>
          Akiwor <br>
          <span>Oct 21 (1 day ago)</span>
        </div>
      </div>
      <a [routerLink]="['username/post-title']" class="text-decoration-none text-black pointer"><h2 class="card-title">Multithreading Concepts Part 2 : Starvation</h2></a>
      <div class="mt-4">
        <button class="btn btn-outline-secondary border-0"><i class="bi bi-hash">java</i></button>
        <button class="btn btn-outline-secondary border-0"><i class="bi bi-hash">Starvation</i></button>
        <button class="btn btn-outline-secondary border-0"><i class="bi bi-hash">multithreading</i></button>
        <button class="btn btn-outline-secondary border-0"><i class="bi bi-hash">softwaredevelopment</i></button>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex mt-4">
          <button class="btn btn-outline-light text-black ms-2">
            <div class="d-flex align-items-center">
              <div class="me-0">
                <i class="bi bi-suit-heart-fill text-danger fs-5"></i>
              </div>
              <div class="me-0">
                <i class="bi bi-emoji-surprise-fill text-warning fs-5"></i>
              </div>
              <div class="me-0">
                <i class="bi bi-hand-thumbs-up text-info fs-5"></i>
              </div>
              <div class="me-0">
                <i class="bi bi-fire text-danger fs-5"></i>
              </div>
              <div class="me-0">
                <i class="bi bi-feather text-primary fs-5"></i>
              </div>
              <span>17 Reactions</span>
            </div>
          </button>
          <button type="button" class="btn btn-outline-light text-black ms-2">
            <i class="bi bi-chat fs-5"></i>
            2 Comments
          </button>
        </div>
        <div class="gap-0 mt-4">
          <button class="btn border-0 text-black ms-2">5 min read</button>
          <button class="btn btn-outline-light text-black ms-2"><i class="bi bi-bookmark"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

