/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.pointer {
  cursor: pointer;
}

.focus-none {
  outline: none;
}

body {
  background-color: rgb(250, 245, 245) !important;
}


.btn-custom:hover {
  text-decoration: none;
  color: blue !important;
  background-color: cornflowerblue !important;
}
