/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.pointer {
  cursor: pointer;
}

.focus-none {
  outline: none;
}

input, textarea {
  border: 1.5px solid lightgrey !important;
}

.textarea:focus, input:focus {
  outline: none;
  border: 3px solid blue !important;
  box-shadow: none !important;
}

body {
  background-color: rgb(250, 245, 245) !important;
}


.btn-custom:hover {
  text-decoration: none;
  color: blue !important;
  background-color: cornflowerblue !important;
}
